{% extends 'base.html' %}
{% block content %}

<body>
    <div class="col bg-header-catalog ">заявка на ремонт</div>
    <div class="container mt-5">
        <div class="d-flex justify-content-center align-items-center" style="gap: 245px">
                <div class="col">
                    <div class="img">
                        <img src="/static/img/zakaz.png">
                      <a href="/oplata"><h3>создать новую заявку</h3></a>
                    </div>
                </div>

                <div class="col">
                    <div class="img">
                        <img src="/static/img/remont.png">
                        <h1>мои заявки</h1>
                        <a href="/history"><h3>посмотреть</h3></a>
                    </div>
                </div>
        </div>


    </div>


    </div>



</body>

{% endblock %}