{% extends 'base.html' %}
{% block content %}

<body>
    <div class="col bg-header-admin ">История заявок</div>
      <div class="container-admin mt-5">
          <div class="col">
            <h1>Заказ№1 | Александ Иванов | 79111234567 | alex.ivanov@example.com | не включается холодильник indesit| Статус: ждет запчасти</h1>
            <h1>--------------------------------------------------------------------------------------------------------------</h1>
            <h1>Заказ№2 | Екатерина Смирнова | 79222345678 | ekaterina.smirnova@example.com | Стиральная машина Bosch Maxx 5 протекает снизу во время стирки| Статус: в обработке</h1>
            <h1>---------------------------------------------------------------------------------------------------------------</h1>
          </div>
      </div>
    </div>



</body>

{% endblock %}
