{% extends 'base.html' %}
{% block content %}

<body>
    <div class="col bg-header-admin ">Складской учёт</div>
    <div class="container mt-5">
        <div class="d-flex justify-content-center align-items-center" style="gap: 245px">
                <div class="col">
                    <div class="img">
                        <img src="/static/img/stiralnaya_mashina.svg">
                        <h1>стиральная машина</h1>
                        <h3>Осталось: 5шт</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="img">
                        <img src="/static/img/telefon.svg">
                        <h1>телефон</h1>
                        <h3>Осталось: 12шт</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="img">
                        <img src="/static/img/kolonka.svg">
                        <h1>колонка</h1>
                        <h3>Осталось: 10шт</h3>
                    </div>
                </div>
        </div>


    </div>


    </div>



</body>

{% endblock %}
